extends ./index

block innerContent
  div#loader(style='z-index: 999999')
    .row
      .col.s12
        .valign-wrapper(style='height: 100vh')
          .valign.center(style='width: 100%')
            .preloader-wrapper.big.active
              .spinner-layer.spinner-blue
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
              .spinner-layer.spinner-red
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
              .spinner-layer.spinner-yellow
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
              .spinner-layer.spinner-green
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
  div#content
    .row
      .col.s10.offset-s1
        br
        h3.blue-grey-text= title
        ul.collection#filelist
        .row
          .col
            a.waves-effect.waves-light.btn(onclick='loadMore()') Load more
          .col.right#spinner
            .preloader-wrapper.small.active
              .spinner-layer.spinner-blue-only
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
block scripts
  script(type='text/javascript').
    $('#{highlight}').addClass('active');
    window.fileAPIurl = '#{apiUrl}';
  script(type='text/javascript' src='/js/vendor/moment.js')
  script(type='text/javascript' src='/js/vendor/moment-timezone.js')
  script(type='text/javascript' src='/js/dashboard/files.js')
