extends ./index

block innerContent
  div#content
    .row
      .col.s10.offset-s1
        br
        h3.blue-grey-text Help
        h4 How To Upload Files
        br
        ul.tabs
          li.tab.s4
            a.active(href='#helpLinux') Linux
          li.tab.s4
            a(href='#helpWindows') Windows
          li.tab.s4
            a(href='#helpGeneral') General

        .col.s12#helpLinux
          p
            | You could use a custom script/program to upload files. You can use
            a(href='https://gist.github.com/DerEnderKeks/30cc7b3aebee4eee444337f452e19565', target='_blank')  mine
            |  if you want.
        .col.s12#helpWindows
          p
            | You can use
            a(href='https://getsharex.com/', target='_blank')  ShareX
            | .

          p In ShareX
          ol
            li go to Destinations -> Destination settings... -> Custom uploaders
            li click on Import -> From URL...
            li insert http://goo.gl/D1BX26
            li click Ok
            li adjust Request URL and Arguments -> apikey
            li click Update on the left side of the window
            li close that window
            li select Custom [Image, File, Text] Uploader in Destinations -> [Image, File, Text] uploader
        .col.s12#helpGeneral
          p If you want to make your own script/program to upload files make sure it does the following:

          ul
            li - POST request to /api/upload
            li - Form field apikey is set to your API Key (Get it from /dashboard/account)
            li - Form field file is set to the file you want to upload
            li - (Optional) Form field hidden is set to true or false (if a file is hidden nobody can download it)

          p The server responds as JSON.
          p If the upload was successful:

          pre
            code.language-json
              | {
              |   "message": "File uploaded",
              |   "url": "your.domain/shortname"
              | }

          p Otherwise:

          pre
            code.language-json
              | {
              |   "message": "error message"
              | }




block scripts2
