extends layout

block content
  .valign-wrapper(style='height: 100vh')
    .row.valign
      .card.col.m8.offset-m2
        .card-content.center
          .row
            span.card-title
            .col.s12
              h4 Nothing to see here.
              h5 Move along.

