{
  "dbConfig": {
    "host": "127.0.0.1",
    "port": 28015,
    "dbName": "yanius",
    "dbUser": "admin",
    "dbPass": ""
  },
  "uploadPath": "upload",
  "url": "http://127.0.0.1:56792/", // Change this to the url the server should return when someone uploads a file (eg. 'https://derp.meme/')
  "port": 56792,
  "address": "0.0.0.0",
  "trustedProxies": [
    "127.0.0.1"
  ],
  "httpsSupport": false, // WARNING: Only enable if you always use a proxy (like nginx) with HTTPS enabled! (Otherwise cookies are broken)
  "saltRounds": 10 // Please don't change this unless you know what you're doing q.q
}